
.account-page{
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    font-family: montserrat, sans-serif;
}

.account-left,
.account-right{
    display: flex;
    flex-direction: column;
}

.account-left h2,
.account-right h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.account-left p {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 500;
    margin: 0;
}

.account-right p {
    font-size: 14px !important;
    color: #6b6b6b;
    font-weight: 500;
    margin: 0 !important;
}

.logout-btn{
    border: none;
    background: none;
    padding: 0;
    width: fit-content;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 500;
}

.logout-btn:hover{
    text-decoration: underline;
}

.account-link{
    width: fit-content;
    margin-top: 8px;

    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
}

.account-link:hover{
    text-decoration: underline;
}

.account-right p{
    margin: 6px 0;
    font-size: 1rem;
}

@media (max-width: 768px){

    .account-page{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .section-heading{
        margin-top: 35px;
    }
}

@media (max-width: 480px){

    .account-page{
        margin: 65px auto;
        padding: 0 16px;
        gap: 40px;
    }

    .account-left h2,
    .account-right h2{
        font-size: 1.35rem;
    }

    .account-left p,
    .account-right p,
    .logout-btn,
    .account-link{
        font-size: 13px;
    }

}